*.dSYM/
*.z
*.id
*.o
*.gch
.DS_Store

# binary files
cat/my-cat
grep/my-grep
zip/my-zip
zip/my-unzip
crypto-challenge/encode-base64
crypto-challenge/decode-base64
crypto-challenge/challenge*
crypto-challenge/score-tester
crypto-challenge/xor-encoder
crypto-challenge/precalculate-pop-count
crypto-challenge/break-xor
crypto-challenge/test-padding
crypto-challenge/test-aes
crypto-challenge/depend
measure-system-calls/measure
wish/wish
!*.c
